body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px 60px;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 21px;
}

/* UTILITIES */
.mt-small {
  margin-top: 20px;
}

/* TYPOGRAPHY */
.headings {
  font-size: 28px;
  font-weight: 400;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #1a86f3;
  text-transform: uppercase;
}

.navbar form {
  flex-basis: 50%;
}

.navbar form input {
  width: 95%;
  margin: 0 auto;
  padding: 4px 12px;
  border-radius: 14px;
  border: 1px solid #1a86f3;
  outline: none;
}

/* APP LAYOUT */
.app-layout {
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.app-layout div {
  padding: 20px;
}

.filter {
  flex-basis: 15%;
  background-color: #eee;
}

.product {
  flex-basis: 55%;
  background-color: #f3f3f2;
  overflow: scroll;
}

.cart {
  flex-basis: 25%;
  /* #f4e02b - for button */
  background-color: #d1d1d1;
}

.add-btn {
  font-size: 16px;
  background-color: #34506c;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s;
}

.add-btn:hover {
  transform: translateY(-2px);
}

.order-btn {
  padding: 10px 20px;
  width: 100%;
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1e271e;
  color: #fff;
  cursor: pointer;
}

/* PRODUCT */
.product-list-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  gap: 10px;
  height: 250px;
  background-color: #fff;
  border-radius: 12px;
}

.product-heading {
  font-size: 18px;
}

.product-price {
  font-size: 12px;
  font-weight: bold;
}

.product-desc {
  font-size: 16px;
}

/* CART */
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 65%;
  padding: 10px 6px;
  overflow: scroll;
  background-color: #f3f2f2;
}

.cart-list {
  list-style: none;
  background-color: #fff;
  padding: 2px;
  border-radius: 8px;
}

.product-details h3 {
  font-size: 18px;
  font-weight: normal;
}

/* RANGE */
.range p {
  font-weight: bold;
}
